$gray: #eaeaea;

$darkGray: #838383;

:export {
    gray: $gray;
    darkGray: $darkGray;
}

* {
    box-sizing: border-box;
}

a
{
    text-decoration: none;
}

html,
body,
#root {
    background: $gray;
    height: 100%;
}

button,
input {
    padding: 0;
    border: 0;
    outline: 0;
    background: transparent;
    cursor: pointer;
}

.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.container {
    max-width: 1135px;
    width: 100%;
    padding: 0 10px;
    margin: 0 auto;
}
