.container {
    display: flex;
    justify-content: space-between;
    padding: 16px 0;

    .logo {
        color: black;
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 700;
        font-size: 25px;
        line-height: 30px;
    }

    .buttons {
        display: flex;
        gap: 20px;
        align-items: center;

        .svgBtn {
            position: relative;

            .count {
                position: absolute;

                background: #ffa542;
                font-family: "Montserrat";
                font-style: normal;
                font-weight: 500;
                font-size: 12px;
                line-height: 18px;
                text-align: center;
                width: 17px;
                height: 17px;
                display: flex;
                justify-content: center;
                align-items: center;

                color: #ffffff;
                border-radius: 100%;
                top: -8px;
                right: -10px;
            }
        }

        .authLink {
            font-size: 14px;
            font-weight: 700;
            color: black;
            cursor: pointer;
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}
